/* .App {
  text-align: center;
}



.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
} */

/* .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
} */

html {
  scroll-snap-type: y mandatory;
  color: #fff;
  box-sizing: border-box;
}

button {
  padding: 8px;
  border: 2px solid #ff0088;
  border-radius: 2px;
  background-color: inherit;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.header {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

.header--alt {
  color: #ff0088;
}

.header--underline {
  position: relative;
}

.header--underline::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 100%;
  background-color: #ff0088;
  left: 0;
  bottom: -4px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
